@import "tailwindcss";
@plugin "daisyui";

.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #61e277;
}

.color-scale-2 {
  fill: #50b56b;
}

.color-scale-3 {
  fill: #358149;
}

.color-scale-4 {
  fill: #216e39;
}
.color-gray {
  fill: #423f3f; /* light gray */
}
